@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;700;800&family=Righteous&display=swap");

:root {
	/* Font style */
	--primary-font: "Righteous", sans-serif;
	--secondary-font: "Crimson Pro", serif;

	/* Coloring */
	--primary-color: #471aa0;
	--secondary-color: #7752fe;
	--white-color: #ffffff;
	--black-color: #161a30;
	--linear-gradient: linear-gradient(#471aa0, #7752fe);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

::selection {
	color: var(--white-color);
	background-color: var(--primary-color);
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
	background: var(--secondary-color);
}

body {
	font-family: var(--primary-font);
	min-height: 100dvh;
	height: 1000px;
	overflow-x: hidden;
	position: relative;
	background: var(--secondary-color);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.section {
	padding: 90px 0 0;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 50px;
}

.btn {
	background-color: var(--secondary-color);
	border: 2px solid var(--white-color);
	padding: 10px 15px;
	color: var(--white-color);
	font-size: 16px;
	border-radius: 10px;
	transition: 0.4s;
}

.btn:hover {
	background-color: transparent;
	border: 2px solid var(--white-color);
	color: var(--white-color);
}

.btn i {
	font-size: 20px;
	margin-left: 10px;
}

.section_title {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	text-transform: capitalize;
	line-height: 0.8;
	color: var(--white-color);
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 25px;
}

.section_title::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 2px;
	background-color: var(--white-color);
}

.section_title::after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 50%;
	transform: translateX(-50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--white-color);
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
}

/* Header Section Start */
header {
	position: fixed;
	width: 100%;
	padding: 20px 0;
	z-index: 1000;
}

header.active {
	background: var(--secondary-color);
	box-shadow: 0 5px 10px rgba(12, 12, 12, 0.619);
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 130px;
	height: auto;
	display: flex;
	align-items: center;
}

.menu {
	white-space: nowrap;
	transition: 0.5s;
	z-index: 999;
	position: relative;
}

.menu_item {
	display: inline-block;
}

.menu_link {
	padding: 5px 10px;
	position: relative;
	transition: 0.4s;
	color: var(--white-color);
	font-weight: 500;
}

.menu_link::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--white-color);
	transform: scale(0);
	transition: 0.4s;
}

.menu_link:hover {
	color: var(--primary-color);
}

.active-link {
	color: var(--secondary-color);
}

.menu_link.active-link::before,
.menu_link:hover::before {
	transform: scale(1);
}

.close_icon {
	font-size: 25px;
	position: absolute;
	top: 30px;
	right: 250px;
	z-index: 1000;
	color: var(--white-color);
	cursor: pointer;
	display: none;
}

.toggle_icon {
	font-size: 32px;
	display: none;
	cursor: pointer;
	margin-right: 10px;
}
/* Header Section End */

/* Responsive Screen */
@media screen and (max-width: 768px) {
	.container {
		padding: 0 30px;
	}

	.menu {
		position: absolute;
		right: 0;
		top: 0;
		background: var(--linear-gradient);
		height: 100dvh;
		padding-top: 100px;
		width: 300px;
		text-align: center;
		transform: translateX(110%);
		box-shadow: -10px 0 20px rgba(0, 0, 0, 0.15);
	}

	.menu.active {
		transform: translateX(0);
	}

	.menu_item {
		display: block;
		margin: 50px 0;
	}

	.menu_link {
		color: var(--white-color);
	}

	.toggle_icon {
		display: block;
	}

	.close_icon {
		display: block;
	}
}

/* Hero Section Start */
.hero {
	padding-top: 114px;
	position: relative;
	display: block;
}

.hero_container {
	align-items: center;
}

.hero_container h4 {
	font-size: 28px;
	font-weight: 600;
	color: var(--white-color);
	text-transform: uppercase;
}

.hero_container h1 {
	font-size: 40px;
	font-weight: 600;
	font-family: var(--secondary-font);
	white-space: nowrap;
	margin-bottom: 10px;
	color: var(--white-color);
}

.hero_container p {
	margin: 10px 0 40px;
	color: var(--white-color);
	font-size: 18px;
}

.hero_container .btn {
	margin-top: 30px;
	display: inline-flex;
	align-items: center;
}

.hero-social {
	display: flex;
	column-gap: 20px;
}

.hero-social a {
	font-size: 22px;
	display: inline-flex;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	background-color: var(--white-color);
	color: var(--black-color);
	transition: 0.3s;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero-social a:hover {
	color: var(--primary-color);
	box-shadow: 0 0 10px var(--black-color);
}

.hero-img {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.hero_content h4 {
		font-size: 16px;
	}

	.hero_content h1 {
		font-size: 32px;
	}

	.hero_content p {
		font-size: 15px;
	}
}

@media screen and (max-width: 576px) {
	.hero_container {
		grid-template-columns: 1fr;
		row-gap: 2rem;
		justify-content: center;
	}

	.hero_content {
		order: 2;
		text-align: center;
	}

	.hero-social {
		justify-content: center;
	}

	.hero-img {
		text-align: center;
	}
}
/* Hero Section End */

/* About Section Start */
.about_container {
	column-gap: 0;
	align-items: center;
}

.about_content p {
	color: var(--white-color);
	margin: 20px 0 15px;
}

.about_content h1 {
	color: var(--white-color);
	font-size: 2.3rem;
	margin: 20px 0 15px;
}

.about_info {
	display: flex;
	column-gap: 20px;
	margin-top: 40px;
}

.about_info > div {
	text-align: center;
	background-color: var(--primary-color);
	border: 2px dashed var(--white-color);
	border-radius: 10px;
	padding: 10px 15px;
	width: 40%;
}

.about_info > div .number {
	color: var(--white-color);
	font-size: 32px;
	font-weight: 700;
}

.about_info > div .text {
	font-size: 15px;
	font-weight: 600;
	color: var(--white-color);
}

@media screen and (max-width: 992px) {
	.about_container {
		grid-template-columns: 3fr 2fr;
	}
}

@media screen and (max-width: 768px) {
	.about_container {
		grid-template-columns: 1fr;
		justify-content: center;
		text-align: center;
	}

	.about_info {
		justify-content: center;
	}

	.about_info > div .text {
		font-size: 14px;
	}
}
/* About Section End */
