@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;700;800&family=Righteous&display=swap");

:root {
	/* Font style */
	--primary-font: "Righteous", sans-serif;
	--secondary-font: "Crimson Pro", serif;

	/* Coloring */
	--primary-color: #471aa0;
	--secondary-color: #7752fe;
	--white-color: #ffffff;
	--black-color: #161a30;
	--linear-gradient: linear-gradient(#471aa0, #7752fe);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

::selection {
	color: var(--white-color);
	background-color: var(--primary-color);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 10px;
}

body {
	font-family: var(--primary-font);
	min-height: 100dvh;
	height: 1000px;
	overflow-x: hidden;
	position: relative;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.section {
	padding: 90px 0 0;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 50px;
}

.btn {
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	padding: 10px 15px;
	color: var(--white-color);
	font-size: 16px;
	border-radius: 10px;
	transition: 0.4s;
}

.btn:hover {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	color: var(--white-color);
}

.btn i {
	font-size: 20px;
	margin-left: 10px;
}

.section_title {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	text-transform: capitalize;
	line-height: 0.8;
	color: var(--black-color);
	position: relative;
	margin-bottom: 100px;
	padding-bottom: 80px;
}

.section_title::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 2px;
	background-color: var(--primary-color);
}

.section_title::after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 50%;
	transform: translateX(-50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--primary-color);
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
}
